* {
    font-family: sans-serif;
}

body {
    background-color: peachpuff;
}

.main-page-div {
    background-color: antiquewhite;
    padding: 10px;
    margin: 20px;
}

.title {
    text-align: center;
}

ul.menu-list {
    font-size: 20px;
    list-style-type: none;
    width: 300px;
    margin: 0px auto;
}

a {
    text-decoration: none;
    color: black;
}

.homepage-link {
    color: darkred;
    font-weight: bold;
}

.chicken-header {
    color: darkorange;
    font-family: 'Times New Roman', Times, serif;
}
